@import "../../globalStyle/variable.scss";

.login {
  background: url(../../asset/img/login-bg.jpg) ;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  padding: $spacing-lg 0;
  
  h2 {
    text-align: center;
    
  }

  &__container {
    margin: $spacing-lg auto;
    width: 30%;  
    height: 90%; 
    border: 1px solid black;
    box-shadow: 3px 0px 15px #0b0a0a;
    padding: 0 $spacing-md ;
  }

  &__icon {
    font-size: 40px;
    padding: $spacing-lg 0;
    display: block;
    text-align: center;
    color: aqua;
  }

  &__input {
    width: 100%;
    position: relative;
    margin: $spacing-sm 0;
    display: flex;
    align-items: center;

    i {
      position: absolute;
      left: 10px;      
    }

    input {
      width: 100%;
     padding: 8px 0 8px $spacing-lg;
    }
  }

  label {
    input {
      margin: 8px 0;
    }
  }

  &__button {
    @include button;
    width: 100%;
    margin:$spacing-sm 0;
    text-align: center;

    &:disabled {
      opacity: 0.5;
      cursor:not-allowed;
    }
  }

  &__register {
    margin:$spacing-sm 0;
    a {
      color: $primary;
      font-weight: 800;
    }
  }

  &__others {
    display: flex;
    gap: 32px;
    margin: $spacing-md  0;

    a {
      width: 50px;
      height: 50px;
      border-radius: 50%;      
      display: block;

      &:first-child {
        background-image: url(../../asset/img/fb.PNG);
        background-position: center;
        background-size: cover;       
      }   

      &:last-child {
        background: url(../../asset/img/gg.png) no-repeat center;
        background-position: center;
        background-size: cover;  
      }    
    }

  }

  .register__form {
    text-align: center;
    &-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid black;
    }
  }
}

